go 1.23

use (
	.
	./app/convbin
	./cmd/rtk2go-test
	./examples/ntrip/client
	./examples/ntrip/server
	./gui
	./pkg/caster
	./pkg/gnssgo
	./pkg/igs
	./pkg/integration
	./pkg/server
	./unittest
// Uncomment the following lines to work with other applications
// ./app/rnx2rtkp
// ./app/rtkrcv
// ./app/str2str
// ./app/plot
// ./app/pos2kml
)
