go 1.23

use (
	./app/convbin
	./pkg/gnssgo
	./unittest
	./pkg/igs
	./gui
// Uncomment the following lines to work with other applications
// ./app/rnx2rtkp
// ./app/rtkrcv
// ./app/str2str
// ./app/plot
// ./app/pos2kml
)
